{
  "presets": ["es2015", "stage-0", "react"],
  "plugins":[
  	["import", { libraryName: "antd", style: false }],
  	"transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-runtime"
  ]
}
